name: CI

on:
  release:
    types:
      - created
  pull_request:
  push:
    branches:
      - main


jobs:
  test:
    name: Running Units Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      run: npm install
    - name: Test
      run: npm test

  # Release: 
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       fetch-depth: 50
  #   - uses: fregante/release-with-changelog@v3
  #     with:
  #       token: ${{ secrets.GITHUB_TOKEN }}
